<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		package="net.charapla.android.horoclock"
		android:versionCode="6"
		android:versionName="0.2.0">

    <uses-sdk android:minSdkVersion="4" />
    <!-- <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/> -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    	
	<supports-screens
		android:smallScreens="true"
		android:normalScreens="true"
		android:largeScreens="true"
		android:anyDensity="true">
	</supports-screens>

   	<application
		android:icon="@drawable/icon"
		android:label="@string/app_name">
		<!-- ダミーのActivity 
		<activity
				android:name=".HoroClockActivity"
				android:label="@string/app_name">
				<intent-filter>
					<action android:name="android.intent.action.MAIN" />
					<category android:name="android.intent.category.LAUNCHER" />
				</intent-filter>
		</activity>
		-->

		<!-- 時計ウィジェットのProvide -->
		<receiver
			android:name=".HoroClockProvider">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<intent-filter>
				<action android:name="net.charapla.android.horoclock.HoroClockWidget.ACTION_ALARM" />
			</intent-filter>
			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/appwidget_provider">
			</meta-data>
		</receiver>

		<!-- 時計更新用のService -->
		<service android:name=".HoroClockService" />

	</application>

</manifest>